<div class="p-5">
<form (ngSubmit)="onSubmit()">

    <input type="hidden" id="id" name="id">
    <div class="mb-3">
        <input type="area" class="form-control" id="question" required name="question">
    </div>
    <button class="btn btn-primary" (click)="callPostAPI()" type="submit">Post Question</button>
</form>
<br/>
<button class="btn btn-primary" (click)="callGetAPI()" type="submit">Show Answers</button>
<br/>
<br/>
<input type="text" class="form-control" id="answers" required name="answer-list">
</div>